
@page {
  size: 80mm 150mm;
  margin: 0cm 0.01cm;
}


.iconprint{
	width: 100%;
	text-align: center;
    height: 50px;
}
.printaddree{
	width: 100%;
    height: 45px;
	text-align: center;

}

.details{
    width: 100%;
	text-align: center;
    position: relative;
    bottom:15;
    z-index: 5;
}


.tatols{
	border-top: 1pt dashed black;

}
