:root{
	--primary-100:#2E8B57;
    --primary-200:#61bc84;
    --primary-300:#c6ffe6;
    --accent-100:#8FBC8F;
    --accent-200:#345e37;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
    --happy-100:#FD5602;
    --happy-200:#FE6E00;
    --happy-300:#1E1E1E;
    --happy-400:#FFAD3F;
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
	padding:0;
	margin:0;
}
[class*='col-']
{
	float: left;
	border: 1px solid rgb(7, 206, 7);
}
.row:after
{
	content: ' ';
	clear: both;
	display: block;
}

.col-1{
	width: 15%;
	
}
.col-2{
	width: 16.66% ;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66% ;
}
.col-6{
	width: 50% ;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 85%;
}


.h-50{
	height: 50px;
}
.h-60{
	height: 50px;
}
.h-70{
	height: 70px;
}
.h-80{
	height: 80px;
}
.h-90{
	height: 100px;
}
.h-100{
	height: 100px;
}
.h-120{
	height: 120px;
}
.h-170{
	height: 170px;
}
.h-250{
	height: 250px;
}
.h-300{
	height: 300px;
}
.h-400{
	height: 400px;
}
.h-500{
	height: 500px;
}
.h-600{
	height: 600px;
}
.h-650{
	height: 650px;
}
.h-450{
	height: 450px;
}

.h-750{
	height: 750px;
}

.h-800{
	height: 800px;
}

.h-900{
	height: 900px;
}

.h-1000{
	height: 1000px;

}


.py-50
{
	padding-top: 50px;
	padding-bottom: 50px;
}


.pl-10{
	padding-left: 10px;
}


.py-50
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.bg-my{
	background:#f1f4f6;
}
.bg-my-side{
	background:#fff;
}

.bg-yellow{

	background-color: var(--happy-400);
}
.bg-red{

	background-color: var(--happy-100);
}

.bg-blue{
	background-color: var(--primary-200);
}
.bg-green{
	background-color: var(--primary-100);
}
.card-boder{
	
	border-radius: 5px;
	box-shadow: 1px 1px 2px 0px rgba(255, 0, 0, 0);
}

.text-color{
	color: var(--primary-100);
}



.widget-chart.text-left {
	flex-direction: row;
	align-items: center;
}
.card-btm-border {
	border-bottom: transparent solid 4px;
}
.widget-chart {
	text-align: center;
	padding: 1rem;
	position: relative;
}
.card-shadow-primary {
	box-shadow: 0 0.46875rem 2.1875rem rgba(63,106,216,.03), 0 0.9375rem 1.40625rem rgba(63,106,216,.03), 0 0.25rem 0.53125rem rgba(63,106,216,.05), 0 0.125rem 0.1875rem rgba(63,106,216,.03);
}
.card {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03);
	border-width: 0;
	transition: all .2s;
}


.border-primary {
	border-color: #3f6ad8!important;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(26,54,126,.125);
	border-radius: 0.25rem;
}


.border-bbb {
	border-color: #3f6ad8;
}






.mbg-3 {
	margin-bottom: 30px;
}
.alert-info {
	color: #0b5885;
	background-color: #d0eeff;
	border-color: #bee7ff;
}
.alert-dismissible {
	padding-right: 4rem;
}
.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.fade {
	transition: opacity .15s linear;
}
*, *::before, *::after {
	box-sizing: border-box;
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
 font-size: 20px;
}
.animate-charctertwo
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #320557ff 0%,
    #531d7aff 29%,
    #ff1361 67%,
    #ff7423ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textcliptwo 4s linear infinite;
  display: inline-block;
 font-size: 20px;
}
.addd{
	padding-left: 5px;
	margin-top: 23px;
}


.link{
font-size: 16px;
text-decoration: none;
color: black;
font-weight: 500;
border: none;
background: none;
	
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textcliptwo {
  to {
    background-position: 200% center;
  }
}





/* this is a universel style*/
.breade_color
{
		font-size: 25px;
		color: #484F56;
}
	
.breade{
		font-size: 20px;
		color: #484F56;
}
.breaderr{
		font-size: 13px;
		color: #484F56;
	}
	

	
	.top_breadc{
		height: 80px;
		width: 100%;
	  background: #FFFFFF;
	 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	}
	
	.top_breadcone{
		height: 50px;
		width: 50px;;
		float: left;	
		padding-top:8px;	
	
	}
	
	.top_breadctwo{
		height: 30px;
		width:500px;
		float: left;
		padding-left:8px;	
	
	}
	
	.shodows{
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

.testttt{
	height:150px;
	color: #e9e9e9;
}


/* this is a test.blade style*/


.cerlll{
	width: 70px;
	height: 70px;
	background: #D3D3D3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.ttt{
text-align: right;
}

.text-right-side{
	text-align: right;
}

 th .bderre{
	border-bottom: 1px solid red;
	
}

.catagorys{
	width:100%;
	height:inherit;
	border:1px sloid red;
    background-color:rgba(203, 203, 245, 0.527);
	transition-timing-function: linear;
}
.catagorystwo{
	width:100%;
	height:0px;
	overflow: hidden;
	transition-timing-function: linear;
}
.ttddd{
width: 100%;
  height: 50px;
  background: red;
  transition: margin-right 2s;
}

/* this just ofr catagory sty;le */
.main{
    height: 50px;
    width: 100%;
    background-color: rgb(218, 216, 216);
    align-content: center;
    display: flex;
    border: 1px solid #e0e0e0;
}
.child1{

    width: 5%;
    
}
.child2{

    width: 40%;
    /* margin-left: 30px; */
}
.child1andtwo{
	width: 30%;
	align-content: center;
    display: flex;
	
}
.child3{

    width: 15%;
    /* margin-left: 30px; */
}
.child4{

    width: 15%;
    /* margin-left: 30px; */
}
.child5{

    width: 15%;
    /* margin-left: 30px; */

}
.cloth{
    height: 70px;
    width: 100%;
	padding: 15px;
    align-content: center;
    display: flex;
  
	transition: 0.3f;
}
.clot1{
	
    width: 10%;
    text-align: right;
	height: 45px;
	
}
.clot2{
    width: 40%; 
	margin-top:8px;
	margin-left: 5px;
	font-size: 18px;
}
.clot3{
    width: 15%;

}
.clot4{
    width: 15%; 
}
.clot44{
    width: 5%; 
	background-color: var(--primary-100);
	color: var(--text-100);
    padding-top: 7px;
	padding-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	height: 35px;
	align-content: center;
    display: flex;
}
.clot5{
    width: 15%;
    height: 10px;
}
.clot6{
    width: 10%;
}
.togle{
	
	transition: 0.3s;
	align-content: center;
	display: flex;
	padding: 15px;
}

.toglet{
	/* border-bottom: 1px solid  #e0e0e0; */
	
}
.togletwo{
	transition: width 2s;
}


.ggg{
	color:var(--primary-100);
}
.fixmain{
border-top: 1px solid  #e0e0e0;
border-left: 1px solid  #e0e0e0;
border-right: 1px solid  #e0e0e0;
width:100%;
transition: 0.3s;
overflow: hidden;
}
.fixmainsub{
	width:99%;
	border-bottom: 1px solid  #e0e0e0;
	}



		

.catagorysshowclass{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top:  1px solid  #e0e0e0;
	border-left:1px solid  var(--accent-100);
	border-right:1px solid  #e0e0e0;
	margin-left: 3%;
	
}
.my-custom-scrollbarcatagory {
		position: relative;
		height: 680px;
		overflow: auto;
		
}
.table-wrapper-scroll-y {
		display: block;
}	

.deleta{
height: 35px;
width: 35px;
background-color: #e9ecef;
padding-top: 5px;
padding-left: 4px;
border-radius: 10px;
}
.icontcolor{
	color:var(--primary-100);
}

.fixmainsub-sub{
	width:99%;
	border-bottom: 1px solid  #e0e0e0;
}
.catagorysshowclass_sub{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top:  1px solid  #e0e0e0;
	border-left:1px solid  var(--accent-100);
	border-right:1px solid  #e0e0e0;
	margin-left: 3%;
	
}